@model grade_tracker.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details about the subject</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Students attending
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Students.Select(student => student.FirstName + " " + student.LastName))
        </dd>
        <dt class = "col-sm-2">
            Teached by
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ", Model.Teachers.Select(teacher => teacher.FirstName + " " + teacher.LastName))
        </dd>
    </dl>
</div>
<div class="button-container">
    <a asp-action="Edit" asp-route-id="@Model?.SubjectId">
        <button type="button" class="btn btn-primary">Edit</button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Go back</button>
    </a>
</div>
