@model grade_tracker.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Info about the teacher</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Last name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Teaching subjects
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ", Model.SubjectsToTeach.Select(subject => subject.Name))
        </dd>
    </dl>
</div>
<div class="button-container">
    <a asp-action="Edit" asp-route-id="@Model?.TeacherId">
        <button type="button" class="btn btn-primary">Edit</button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Go back</button>
    </a>
</div>
