@model grade_tracker.Models.Grade

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit grade</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradeId" />
            <div class="form-group">
                <label asp-for="AssignedGrade" class="control-label">First name</label>
                <input asp-for="AssignedGrade" class="form-control" />
                <span asp-validation-for="AssignedGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalComment" class="control-label">Last name</label>
                <input asp-for="AdditionalComment" class="form-control" />
                <span asp-validation-for="AdditionalComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">Subject</select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId">Student</select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId">Teacher</select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="button-container">
                <a asp-action="Edit" asp-route-id="@Model?.GradeId">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a asp-action="Index">
                    <button type="button" class="btn btn-secondary">Go back</button>
                </a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
