.entity-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.button-container {
    margin-top: 8px;
    display: flex;
    column-gap: 8px;
}

.grade-display {
    background: green !important;
    display: flex;
    align-content: center;
    justify-content: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}